<IfModule mod_rewrite.c>
RewriteEngine on
#RewriteBase /

RewriteCond %{REQUEST_URI} !(core\/|images\/|files\/|templates\.js$|\.css$|\.jpg$|\.png$)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?page=$1 [PT,L,QSA]
</IfModule>

Options -Indexes