@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.message span.icon:before, ul.icons li a span.icon:before, .icon-home:before, .icon-home-2:before, .icon-home-3:before, .icon-newspaper:before, .icon-pencil:before, .icon-paint-format:before, .icon-image:before, .icon-image-2:before, .icon-images:before, .icon-camera:before, .icon-music:before, .icon-play:before, .icon-camera-2:before, .icon-pawn:before, .icon-bullhorn:before, .icon-file:before, .icon-folder:before, .icon-folder-open:before, .icon-file-2:before, .icon-tag:before, .icon-tags:before, .icon-qrcode:before, .icon-barcode:before, .icon-cart:before, .icon-cart-2:before, .icon-coin:before, .icon-support:before, .icon-phone:before, .icon-phone-hang-up:before, .icon-address-book:before, .icon-notebook:before, .icon-envelop:before, .icon-location:before, .icon-location-2:before, .icon-map:before, .icon-clock:before, .icon-clock-2:before, .icon-alarm:before, .icon-print:before, .icon-calendar:before, .icon-calendar-2:before, .icon-tv:before, .icon-mobile:before, .icon-tablet:before, .icon-bars:before, .icon-pie:before, .icon-remove:before, .icon-remove-2:before, .icon-lab:before, .icon-switch:before, .icon-power-cord:before, .icon-lightning:before, .icon-rocket:before, .icon-leaf:before, .icon-close:before, .icon-checkmark:before, .icon-notification:before, .icon-warning:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-home:before {
	content: "\e001";
}
.icon-home-2:before {
	content: "\e002";
}
.icon-home-3:before {
	content: "\e003";
}
.icon-newspaper:before {
	content: "\e004";
}
.icon-pencil:before {
	content: "\e005";
}
.icon-paint-format:before {
	content: "\e006";
}
.icon-image:before {
	content: "\e007";
}
.icon-image-2:before {
	content: "\e008";
}
.icon-images:before {
	content: "\e009";
}
.icon-camera:before {
	content: "\e00a";
}
.icon-music:before {
	content: "\e00b";
}
.icon-play:before {
	content: "\e00c";
}
.icon-camera-2:before {
	content: "\e00d";
}
.icon-pawn:before {
	content: "\e00e";
}
.icon-bullhorn:before {
	content: "\e00f";
}
.icon-file:before {
	content: "\e010";
}
.icon-folder:before {
	content: "\e011";
}
.icon-folder-open:before {
	content: "\e012";
}
.icon-file-2:before {
	content: "\e013";
}
.icon-tag:before {
	content: "\e014";
}
.icon-tags:before {
	content: "\e015";
}
.icon-qrcode:before {
	content: "\e016";
}
.icon-barcode:before {
	content: "\e017";
}
.icon-cart:before {
	content: "\e018";
}
.icon-cart-2:before {
	content: "\e019";
}
.icon-coin:before {
	content: "\e01a";
}
.icon-support:before {
	content: "\e01b";
}
.icon-phone:before {
	content: "\e01c";
}
.icon-phone-hang-up:before {
	content: "\e01d";
}
.icon-address-book:before {
	content: "\e01e";
}
.icon-notebook:before {
	content: "\e01f";
}
ul.icons li a.icon_nachrichten span.icon:before,
.icon-envelop:before {
	content: "\e020";
}
.icon-location:before {
	content: "\e021";
}
.icon-location-2:before {
	content: "\e022";
}
.icon-map:before {
	content: "\e023";
}
.icon-clock:before {
	content: "\e024";
}
.icon-clock-2:before {
	content: "\e025";
}
ul.icons li a.icon_kalender span.icon:before,
.icon-alarm:before {
	content: "\e026";
}
.icon-print:before {
	content: "\e027";
}
.icon-calendar:before {
	content: "\e028";
}
.icon-calendar-2:before {
	content: "\e029";
}
.icon-tv:before {
	content: "\e02a";
}
.icon-mobile:before {
	content: "\e02b";
}
.icon-tablet:before {
	content: "\e02c";
}
.icon-bars:before {
	content: "\e02d";
}
ul.icons li a.icon_statistiken span.icon:before,
.icon-pie:before {
	content: "\e02e";
}
.icon-remove:before {
	content: "\e02f";
}
.icon-remove-2:before {
	content: "\e030";
}
.icon-lab:before {
	content: "\e031";
}
ul.icons li a.icon_logout span.icon:before,
.icon-switch:before {
	content: "\e032";
}
.icon-power-cord:before {
	content: "\e000";
}
.icon-lightning:before {
	content: "\e033";
}
.icon-rocket:before {
	content: "\e034";
}
.icon-leaf:before {
	content: "\e035";
}
.icon-close:before {
	content: "\e036";
}
.message_ok span.icon:before,
.icon-checkmark:before {
	content: "\e037";
}
.message_info span.icon:before,
.icon-notification:before {
	content: "\e038";
}
.message_error span.icon:before,
.icon-warning:before {
	content: "\e039";
}
