@charset "utf-8";
/* CSS Document */

body { margin:0; padding:0; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#222; font-size:13px; line-height:1.4; }

a { color:#590; text-decoration:none; }
a:hover { text-decoration:underline; }


.clear { clear:both !important; float:none; }

.box_inner { padding:20px; float:left; }


body.authLogin { background:none #eee; color:#555; }
body.authLogin .wrap_form { width:350px; margin-left:-175px; padding-left:50%; margin-top:10%; }
body.authLogin .wrap_form h1 { font-size:220%; width:100%; float:left; text-align:center; margin:15px 0 5px 0; }
body.authLogin label { text-align:right; }
body.authLogin input.text { width:200px; } 
body.authLogin input.submit { margin-left:110px; }
body.authLogin .errormsg,
body.authLogin .okmsg { text-align:center; }
body.authLogin .errormsg p,
body.authLogin .okmsg p { margin:3px 0; }


.wrap_all { width:100%; position:relative; }

.mainnav { width:100%; float:left; background:none #eee; border-bottom:1px solid #bbb; position:fixed; top:0; left:0; z-index:1000; }
.mainnav ul { list-style:none; float:left; padding:0; margin:0; }
.mainnav ul.apps { float:right; }
.mainnav ul li { float:left; padding:0; margin:0; position:relative; }
.mainnav ul li a { display:block; float:left; padding:0 12px; height:40px; line-height:40px; color:#222; background:none transparent; text-decoration:none; text-transform:uppercase; font-size:11px; }
.mainnav ul li a:hover { text-decoration:none; color:#222; background:none #ddd; }
.mainnav ul li.active a,
.mainnav ul li.active a:hover,
.mainnav ul.apps li.active a,
.mainnav ul.apps li.active a:hover { background:none #9c0 center center no-repeat; color:#fff; }
.mainnav ul li#mainnav_li_bdlogo { border-right:1px solid #bbb; }
.mainnav ul li#mainnav_li_bdlogo a { width:30px; padding:0 20px; background:url(../img/bdlogo.png) center center transparent no-repeat;overflow:hidden; text-indent:-9999px; }

.mainnav ul li#mainnav_li_bdlogo a:hover { background-color:transparent; }
.mainnav ul.apps li a { width:20px; overflow:hidden; text-indent:-9999px; background:none transparent center center no-repeat; }
.mainnav ul.apps li a:hover { background-color:#ddd; }
.mainnav ul li#mainnav_app_kalender a { background-image:url(../img/backgrounds/icons/kalender_small.png); }
.mainnav ul li#mainnav_app_kalender.active a { background-image:url(../img/backgrounds/icons/kalenderon_small.png); }
.mainnav ul li#mainnav_app_nachrichten a { background-image:url(../img/backgrounds/icons/nachrichten_small.png); }
.mainnav ul li#mainnav_app_nachrichten.active a { background-image:url(../img/backgrounds/icons/nachrichtenon_small.png); }
.mainnav ul li#mainnav_app_logout a { background-image:url(../img/backgrounds/icons/logout_small.png); }

.wrap_content { width:100%; float:left; }
.wrap_content .navleft { width:240px; background:none #f5f5f5; border-right:1px solid #bbb; position:fixed; top:40px; left:0; height:100%; z-index:500; }
.wrap_content .content { margin:40px 0 20px 240px; }
.wrap_content .navleft,
.wrap_content .content { float:left; }
.wrap_content .navleft .subnav,
.wrap_content .navleft .subnav .desc,
.wrap_content .navleft .subnav ul { width:100%; float:left; }
.wrap_content .navleft .subnav ul { margin:0 0 20px 0; list-style:none; padding:0; }
.wrap_content .navleft .subnav ul li { width:100%; float:left; margin:0; padding:0; }
.wrap_content .navleft .subnav ul li a { background:none transparent; display:block; float:left; width:100%; padding:10px 0; color:#222; text-decoration:none; text-transform:uppercase; font-size:11px; }
.wrap_content .navleft .subnav ul li a span.label { padding:0 20px; }
.wrap_content .navleft .subnav ul li a:hover { background:none #ddd; color:#222; text-decoration:none; }
.wrap_content .navleft .subnav ul li.active a { background:none #9c0; color:#fff; }

.wrap_content .navleft .subnav,
.wrap_content .navleft .quicklist { font-size:90%; width:100%; float:left; }
.wrap_content .navleft .subnav .desc h2,
.wrap_content .navleft .quicklist h2 { font-size:220%; margin:0 0 15px 0; }
.wrap_content .navleft .subnav .desc h3 { font-size:180%; margin:0 0 12px 0; }
.wrap_content .navleft .quicklist { color:#aaa; border-top:1px solid #bbb; }

.content h3 { margin:20px 0 10px 5px; font-size:180%; font-weight:normal; float:left; }

.adminmaske { width:600px; }

.wrap_form,
.wrap_input { width:100%; }
.wrap_input { clear:both; }
.wrap_form input,
.wrap_form select,
.wrap_form textarea { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; }
.wrap_form input.text, 
.wrap_form select, 
.wrap_form textarea { width:350px; float:left; padding:7px; border:1px solid #bbb; color:#555; margin:0 0 5px 0; }
.wrap_form .input_url .mainurl { background: none #eee; border:1px solid #bbb; border-right:0 none; float: left; padding: 7px; }
.wrap_form div.sourcecode { width:100%; height:500px; position:relative; margin:0 0 5px 0; border:1px solid #bbb; }
.wrap_form label { font-size:10px; text-transform:uppercase; color:#888; display:block; float:left; width:100px; padding:10px 5px; }
.wrap_form input.submit { display:block; float:left; padding:7px 10px; border:0 none; background:none #ddd; color:#555; font-size:11px; text-transform:uppercase; margin:0 5px 5px 0; cursor:pointer; border:1px solid #bbb; }
.wrap_form input.submit:hover { background:none #9c0; color:#fff; border:1px solid #590; }
.wrap_form div.submit { float:left; }
.wrap_form .label { padding:0 0 0 5px; font-size:10px; text-transform:uppercase; color:#888; }
.wrap_form .okmsg { color:#9c0; }
.wrap_form .errormsg { color:#c00; }
.wrap_form .okmsg,
.wrap_form .errormsg { width:100%; float:left; padding:0 0 12px 0; font-weight:bold; }

/* ACE-Editor */
.ace-tm .ace_gutter { border-right:1px solid #bbb; background:none #f5f5f5; }

.wrap_contentlist { float:left; margin:10px 0; }
.wrap_contentlist table { border-collapse:collapse; }
.wrap_contentlist table tr { border:1px solid #bbb; }
.wrap_contentlist table tr th { text-align:left; padding:7px 20px 7px 4px; background:none #d5d5d5; font-weight:normal; text-transform:uppercase; font-size:11px; }
.wrap_contentlist table tr td { vertical-align:middle; padding:4px 20px 4px 4px; background:none #f5f5f5; }
.wrap_contentlist table tr td.icon { width:30px; padding:4px; }

.wrap_contentlist table tr td.icon span { display:block; width:100%; height:20px; }
.wrap_contentlist table tr td.icon span.dir { background:url(../img/backgrounds/icons/datei_klein.png) transparent no-repeat center center; }
.wrap_contentlist table tr td.icon span.file { background:url(../img/backgrounds/icons/datei2_klein.png) transparent no-repeat center center; }
.wrap_contentlist table tr td.icon span.file_php { background:url(../img/backgrounds/icons/datei_php_klein.png) transparent no-repeat center center; }

.wrap_contentlist span.filename span.notitle { font-size:80%; font-family:'Monaco','Menlo','Ubuntu Mono','Droid Sans Mono','Consolas',monospace; }

.wrap_contentlist_settings { width:100%; float:left; }
.wrap_contentlist_settings .setting_url span.label,
.wrap_contentlist_settings .setting_url span.current,
.wrap_contentlist_settings .setting_url a { border:1px solid #bbb; display:block; float:left; padding:7px; margin:0 5px 5px 0; text-decoration:none; font-size:11px; text-transform:uppercase; }
.wrap_contentlist_settings .setting_url span.label { background:none #d5d5d5; color:#333; }
.wrap_contentlist_settings .setting_url span.current { background:none #f5f5f5; color:#333; }
.wrap_contentlist_settings .setting_url a { background:none #f5f5f5; color:#555; }
.wrap_contentlist_settings .setting_url a:hover { background:none #9c0; color:#fff; border:1px solid #590; }

.wrap_footer { width:100%; float:left; border-top:1px solid #bbb; background:none #eee; position:fixed; bottom:0; left:0; z-index:1000; }
.wrap_footer p.copyright { font-size:10px; text-transform:uppercase; display:block; float:left; padding:4px 7px; margin:0; }