@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300,400italic,600italic,700italic);

html, body {
	margin:0;
	padding:0;
	witdh:100%;
	height:100%;
	width:100%;
	float:left;
}

html, body, input, textarea {
	font-family:"Open Sans","Trebuchet MS",Arial,sans;
	font-size:13px;
	color:#000;
}

a {
	text-decoration:none;
	color:#1c425f;
}

a:hover {
	text-decoration:underline;
}

h1 {
	font-size:220%;
}

h2 {
	font-size:170%;
}

h3 {
	font-size:140%;
	margin:20px 0 5px 0;
}


/* Seitenaufbau */

.forkme {
	position:absolute;
	top:0;
	left:0;
}

.wrap_all {
	width:800px;
	margin:30px 0 30px -400px;
	padding:0 0 0 50%;
	position:relative;
}

.wrap_head,
.wrap_content,
.wrap_footer {
	width:100%;
	float:left;
}

.wrap_head {
	margin-bottom:30px;
	padding-bottom:30px;
	border-bottom:1px solid #000;
}

.wrap_content .home_banner {
	width:100%;
	float:left;
	margin-bottom:30px;
}

.wrap_footer {
	margin:30px 0 0 0;
	padding:30px 0;
	border-top:1px solid #000;
}

.wrap_footer p {
	margin:0;
}


/* Logo */
.logo a {
	text-decoration:none;
	color:#000;
	font-size:180%;
	font-weight:normal;
}

.logo a .bold {
	font-weight:bold;
}

.logo a:hover {
	text-decoration:none;
}


/* Footer */
.footer_nav { 
	float:right;
}

.footer_nav ul {
	padding:0;
	margin:0;
	float:right;
	list-style:none;
}

.footer_nav ul li {
	float:left;
	margin: 0 0 0 15px;
	padding:0;
}


/* News */
.wrap_news .news_date,
.wrap_news .news_commentcnt {
	float:left;
	margin:0 25px 0 0;
}

.wrap_news .news_title {
	clear:both;
}

.wrap_news_comments,
.wrap_newcomment_form {
	width:100%;
	float:left;
	margin:20px 0 0 0;
}
	
.wrap_newcomment_form input.text,
.wrap_newcomment_form textarea {
	width:200px;
	padding:5px;
	margin:8px 5px 0 0;
}
	
.wrap_newcomment_form input.commentSubject {
	width:420px;
	display:block;
	clear:both;
}

.wrap_newcomment_form textarea.commentText {
	width:420px;
	display:block;
	clear:both;
}

.wrap_newcomment_form input.submit {
	margin:10px 0;
	padding:2px 4px;
	display:block;
}

.wrap_news_comments .wrap_comment {
	width:100%;
	float:left;
	margin:0 0 20px 0;
}

.wrap_news_comments .wrap_comment .comment_head {
	font-size:85%;
}

.wrap_news_comments .wrap_comment .comment_title span.title {
	font-size:150%;
}


/* Newsliste */
.wrap_newslist .wrap_newsdetail {
	clear:both;
}

.wrap_newslist .wrap_newsdetail .news_time,
.wrap_newslist .wrap_newsdetail .news_title {
	float:left;
}

.wrap_newslist .wrap_newsdetail .news_time {
	width:80px;
}

.wrap_newslist .wrap_newsdetail .news_title {
	font-weight:bold;
}

.wrap_newslist .date_trenner {
	width:100%;
	float:left;
}


/* Galerie */
.wrap_galery .galery_date,
.wrap_galery .galery_imagecnt {
	float:left;
	margin:0 25px 0 0;
}

.wrap_galery .galery_title {
	clear:both;
}

.wrap_galery_images {
	width:100%;
	float:left;
	margin:20px 0 0 0;
}

.wrap_galery_images .column,
.wrap_galery_images .column .wrap_galery_image,
.wrap_galery_images .column .wrap_galery_image img {
	width:240px;
}

.wrap_galery_images .column {
	float:left;
	margin:0 20px 0 0;
}

.wrap_galery_images .column .wrap_galery_image {
	float:left;
	margin:0 0 20px 0;
}


/* Galerieliste */
.wrap_galerylist {
	width:100%;
	float:left;
	margin:20px 0 0 0;
}

.wrap_galerylist .wrap_galerydetail,
.wrap_galerylist .wrap_galerydetail .wrap_image,
.wrap_galerylist .wrap_galerydetail .wrap_image img.vertical,
.wrap_galerylist .wrap_galerydetail a {
	width:240px;
}

.wrap_galerylist .wrap_galerydetail .wrap_image,
.wrap_galerylist .wrap_galerydetail .wrap_image img.horizontal,
.wrap_galerylist .wrap_galerydetail a {
	height:240px;
}

.wrap_galerylist .wrap_galerydetail {
	float:left;
	margin:0 20px 20px 0;
	position:relative;
}

.wrap_galerylist .wrap_galerydetail .wrap_image {
	float:left;
	overflow:hidden;
}

.wrap_galerylist .wrap_galerydetail a {
	position:absolute;
	z-index:100;
	top:0;
	left:0;
	text-align:center;
	opacity:0;
	color:#000;
	text-decoration:none;
	background-color:#fff;
}

.wrap_galerylist .wrap_galerydetail a:hover {
	opacity:0.9;
}

.wrap_galerylist .wrap_galerydetail a span {
	padding:70px 20px;
	display:block;
}

.wrap_galerylist .wrap_galerydetail a b {
	font-weight:bold;
	font-size:170%;
}


/* Formulare */
.wrap_form {
	width:100%;
	float:left;
	margin:20px 0 0 0;
}

.wrap_form .input_label {
	width:100%;
	float:left;
	margin:5px 0 0 0;
}

.wrap_form .input_field {
	width:100%;
	float:left;
}

.wrap_form input.text,
.wrap_form select,
.wrap_form textarea {
	padding:5px;
}

.wrap_form input.text,
.wrap_form textarea {
	width:400px;
}

.wrap_form textarea {
	height:200px;
}

.wrap_form input.submit {
	margin:10px 0;
	padding:2px 4px;
	display:block;
}

.wrap_form .msg {
	float:left;
	width:100%;
	margin:10px 0;
}

.wrap_form .msg p {
	padding:5px;
	margin:0;
	float:left;
}

.wrap_form .msg_ok p {
	background-color:#9ACD32;
	color:#fff;
}

.wrap_form .msg_error p {
	background-color:#d00;
	color:#fff;
}

.wrap_form input.missing {
	border:1px solid #d00;
	background-color:#fee;
}